body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
.container {
    background-color: transparent;
    width: 100%;
}
.collapse {
    justify-content: space-around;
    .form_a {
        margin: auto;
        width: 25vw;
        justify-content: center;
        display: flex;
        // border: 1px solid black;
        border-radius: 5px;
        // @media screen and {

        // }
        input {
            border: 1px solid black ;
            background: none;
            outline: none;
            width: 25vw;
        }
        svg {
            position: absolute;
            right: 50vw;
            margin-top: 12px;
        }
        // button {
        //     background: none;
        //     border: none;
        // }
    }

    .signup {
        border-radius: 5px;
        a{
            background-color: black;
            color: white!important;

           
            &:hover {
                border-radius: 5px;
                border: 1px solid black;
                background-color: transparent;
                color: black !important;
            }
        }
    }
}
// .row{
//     overflow-x: hidden;
// }
.text {
    padding-top: 10vh;
    h2 {
        line-height: 10vh;
        // font-weight: bolder;
        font-size: 40px;
        font-weight: 600;
    }
    h6 {
        // line-height: 10vh;
        font-size: 16px;
        line-height: 1.7;
        font-weight: 400;
    }
    a {
        border: 1.5px solid #150c21;
        background-color: #150c21;
        border-radius: 10px;
        color: #fff;
        // box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        line-height: 20vh;
    }
    a:hover {
        color: black;
        background-color: #fff;
        border: 1px solid black;
    }
    // a:hover {

    // }
}
.row{
    .flow1{
        z-index: -1;
        position: absolute;
        }
    }
    .flow2{
        .fluid{
            display: none;
            @media screen and (max-width:800px) {
                display: flex;
            }
        }
    }


.course:hover {
    border-bottom: 2px solid black;
}
@media screen and(max-width:980px){
    .form-control{
        display: none;
    }

    
    
}
@media screen and(max-width:980px){
    .bi{
        display: none;
    }
    
}
@media screen and(max-width:980px){
    .flow{
        display: none;
    }
    
}


